.bg-indar{
    background-color: var(--indar-primary) !important;
    color: var(--text-primary) !important;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bg-blue{
    background-color: var(--indar-primary) !important;
    color: var(--text-primary) !important;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bg-yellow {
    background-color: var(--indar-secondary) !important;
    color: var(--text-secondary) !important;
    width: 100% !important;
    text-align: center !important;
    padding: 10px !important;
    font-size: 18px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.btn-blue{
    background-color: var(--indar-primary) !important;
    color: var(--text-primary) !important;
    margin-right: 5px !important;

}

.btn-blue:hover{
    filter: brightness(95%);
}

.datos-generales{
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.content-datos-generales{
    padding: 20px;
}

h5{
    font-size: 16px !important;
}

.input-promociones{
    width: 100% !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    height: 30px !important;
    border-radius: 2px !important;
    background-color: white !important;
    position: relative !important;
    padding-left:12px !important;
}

/* MODAL */

.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -10000;
    transition: opacity .4s ease;
}

.modal-indar{
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 50% !important;
}

.modal-indar-reglas{
    width: 60%;
    height: 95vh;
    overflow-y: auto;
    background-color: #F4F6F9;
    border-radius: 5px;
}

.modal-header{
    background-color: var(--indar-primary) !important;
    color: var(--text-primary) !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.modal-body{
    padding: 50px !important;
    width: 100% !important;
    background-color: #F4F6F9;
    height: 100%;
}


/* ENCABEZADO PROMOCIONES / DATOS GENERALES -------------------------------------------------------------------------------------------------------- */

.mensaje{
    font-size: 16px !important;
}

.mensaje.green{
    color: rgb(0, 153, 0) !important;
}

.mensaje.red{
    color: rgb(255, 0, 0) !important;
}

.daterangepicker{
    margin-top: 520px;
}

/* REGLAS ----------------------------------------------------------------------------------------------------------------------------------------------- */


.reglas-row{
    margin-top: 10px;
}

.btn-add-category{
    color: #139966;
    border-radius: 3px;
    cursor: pointer;
}

.btn-remove-category{
    color: #DC3545;
    border-radius: 3px;
    cursor: pointer;
}
    

/* -------------------------------------------------------------------------------------- TAGS INPUT PROMOCIONES ------------------------------------------------------------------------------------------------------------ */

.tags-input 
{
  	list-style : none;   
  	display:inline-block;
  	padding:5px;
  	height: auto !important;
    width: 100% !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 30px;
    border-radius: 2px;
    background-color: var(--light-purple);
}

.tags-input li
{
  	float:left;
}

.tags
{
    margin-top: 5px;
  	background:var(--promo-tags-background);
    color: white;
  	padding:5px 20px 5px 8px;
  	border-radius:3px;
  	margin-right: 5px;
  	position: relative;
}

.tags i
{
	position: absolute; 
	right:6px;
	top:3px;
	width: 20px;
	height: 8px;
	content:'';
	cursor:pointer;
	opacity: .7;
  font-size:12px;
}

.tags i:hover
{
	opacity: 1;
}

.tags-new input[type="text"]
{
  border:0;
	margin: 0;
	padding: 0 0 0 3px;
	font-size: 14px;
	margin-top: 5px;
  background:transparent;
}

.tags-new input[type="text"]:focus
{
  	outline:none; 
}

.checkboxPedido{
  display:inline-block !important;
  width: auto !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 2px;
  background-color: var(--light-purple) !important;
}

/* ---------------------------------------------------------------------------------------------- CHOSEN ----------------------------------------------------------- */


.chosen-container-multi .chosen-choices li.search-choice{
    background-color: var(--promo-tags-background) !important;
    color: var(--text-primary) !important;
    background-image: none !important;
    line-height: 20px !important;
    font-size: 13px !important;
    border: none !important;
    padding: 3px 20px 3px 15px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text]{
    width: 600px !important;
}

.chosen-container .chosen-results li.highlighted{
    background-color: var(--indar-primary) !important;
    color: var(--text-primary);
    background-image: none !important;

}

/* VALIDAR INPUTS */

.invalid-input{
    border: 1px solid red !important;
}

.valid-input{
    border: 1px solid green !important;
}

#div-loading{
    opacity: 0;
}

/* PAQUETES --------------------------------------------------------------------------------------------------- */

.success-sub{
    background-color: rgb(143, 207, 143) !important;
}

.error-sub{
    background-color: rgb(226, 142, 142) !important;
}

/* RESPONSIVE ------------------------------------------------------------------------------------------------ */

@media (max-width: 768px) {
    .daterangepicker{
        margin-top: 600px !important;
    } 
}

@media (max-width: 397px) {
    .daterangepicker{
        margin-top: 628px !important;
    } 
}

@media (max-width: 385px) {
    .daterangepicker{
        margin-top: 645px !important;
    } 
}
