.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 30px;
}
.img-log{
    margin-top: 30px;
}
.icon-1{
    background-image: url('/assets/exporta/icons/icon-1.png')!important;
}
.icon-2{
    background-image: url('/assets/exporta/icons/icon-2.png')!important;
}
.icon-3{
    background-image: url('/assets/exporta/icons/icon-3.png')!important;
}
.icon-4{
    background-image: url('/assets/exporta/icons/icon-4.png')!important;
}
.icon-5{
    background-image: url('/assets/exporta/icons/icon-5.png')!important;
}
.icon-6{
    background-image: url('/assets/exporta/icons/icon-6.png')!important;
}
.icon-7{
    background-image: url('/assets/exporta/icons/icon-7.png')!important;
}
.icon-8{
    background-image: url('/assets/exporta/icons/icon-8.png')!important;
}
.icon-1, .icon-2,.icon-3,.icon-4,.icon-5,.icon-6,.icon-7,.icon-8{
    width: 60px;
    height: 60px;
    background-size: 60px;
}
.btn-xs{
    background: #c1c1c1!important;
}
.div-fecha{
    border:2px solid black;
}
.pd-0{
    padding: 0px!important;
}
.table{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    padding: 0px!important;
    text-align: center;
}
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:#57a2ff;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}