.faq{
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #F2F2F2;
}

.faq-body{
    background-color: white;
}

.faq-title{
    width: 90%;
    margin-left: 5%;
    border-bottom: 5px solid #FFC61E;
    padding: 20px;
}

.faq-title h3{
    color: #002868 !important;
    margin-left: 100px;
    font-weight: 700;
}

.faq-row{
    padding-left: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.question{
    font-weight: 700;
}

.answer{
    font-weight: 400;
    color: #555555;
}

@media (max-width: 700px) {
    .faq-title h3{
        margin-left: 0 !important;
    }
}

@media (max-width: 406px) {
    .faq-title h3{
        font-size: 20px;
    }
}