body, html{
    overflow-x: hidden !important;
}

html{
    overflow-x: hidden;
}

/* FIRST GRAY BAR --------------------------------------------------------------------------------------------------------------------------------------- */
.login-options{
    position: fixed;
    width: 100%;
    height: 27px;
    background-color: var(--light-purple);
    display: flex;
    flex-direction: row;
    padding: 3px;
    justify-content: right;
    z-index: 1000;
}

.login-options h5{
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
    color: var(--indar-primary);
    float: right;
    cursor: pointer;
    line-height: 20px;
}

.question{
    margin-left: 10px;
    color: var(--indar-primary);
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
     margin-right: 20px;
}

/* LOGO BAR - FILTER - ACCOUNT -------------------------------------------------------------------------------------------------------------------------- */

.brand-logo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto; 
    position: fixed;
    top: 26px;
    z-index: 1000;
}

.row-logo{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}


.btn-indar{
    background-color: var(--indar-primary) !important;
    color: white !important;
}

.input-indar{
    background-color: var(--light-purple) !important;
    border: 1px solid var(--light-purple) !important;
    color: rgb(85, 85, 85) !important;
}

input:focus,
select:focus,
textarea:focus,
.form-control:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-group ul{
    background-color: var(--light-purple) !important;
}


.iconos-cuenta{
    color: var(--indar-primary) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.iconos-cuenta i{
    margin-right: 20px;
    margin-top: 3px !important;
}

.btnBuscar{
    -webkit-text-stroke: 1px #F5F8F8; 
    color: #333 !important;
    transition: all 250ms ease;
}

.btnBuscar:hover{ 
    -webkit-text-stroke: 0 #F5F8F8; 
}


/* NAVBAR ------------------------------------------------------------------------------------------------------------------------------------------------ */

.navbar{
    width: 100%;
    height: 50px;
    background-color: var(--indar-primary) !important;
    border-bottom: 5px solid var(--indar-secondary) !important;
    display: flex !important;
    flex-direction: row !important;
    color: white !important;
    justify-content: center !important;
    position: fixed !important;
    z-index: 999;
    top: 90px !important;
}

.overlayDropdown{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin-top: 130px;
    width: 100%;
    z-index: 600;
    background-color: rgba(0, 0, 0, 0.508);
    display: none;
    backdrop-filter: blur(1px);
}

.nav-link{
    color: white !important;
    font-size: 13px !important;
    margin-left: 50px !important;
    font-weight: 500 !important;
    letter-spacing: 1px;
    float: right !important;
    text-transform: uppercase;
    margin-top: 4px;
}

.navbar-toggler-icon{
    color: white !important;
}

.navbar-nav ul{
    position: fixed !important;
    top: 130px !important;
    background-color: var(--light-purple);
    padding: 0px !important;
    min-width: 300px;
    min-height: 500px;
    border-radius: 0px !important;
    margin-left: 18px;
    border: none;
    border-top: 4px solid var(--indar-primary);
    -moz-box-shadow:    0px 0px 0px 0px #fff;
    -webkit-box-shadow: 0px 0px 0px 0px #fff;
    box-shadow:         0px 0px 0px 0px #fff;
}

.dropdown-menu-empresa{
    margin-left: 490px !important;
    /* margin-left: 540px !important; si se activa rama de productos este es el margin para la rama de empresa */
    min-height: auto !important;
}

.dropdown-item{
    padding: 5px !important;
    top: 0 !important;
    bottom: 0 !important;
    height: 100%;
    font-weight: 500 !important;
}

.dropdown-item:hover{
    color: var(--indar-primary) !important;
    background-color: white !important;
}

.active-item-main, .active-item-2{
    color: var(--indar-primary) !important;
    background-color: white !important;
}

.dropdown-menu{
    background-color: white !important;
    height: auto;
}

.dropdown-menu-main{
    background-color: var(--light-purple) !important;
    color: white !important;
}

.navbar-nav > li:hover > .dropdown-menu {
    display: block;
}

.fa-menu{
    position: relative;
    float: right;
    top: 12px;
    right: 8px;
}


/* NAVBAR MOBILE ------------------------------------------------------------------------------------------------------------- */


    /* MENU ICON ------------------------------------------------------------------------------------------------------------- */
.hamburguer{
     display:flex;
     flex-direction:column;
     width:40px;
     cursor:pointer;
     z-index: 1150;
     position: fixed;
     margin-top: 15px;
     margin-left: 20px;
     opacity: 0;
   }
   
   .hamburguer span{
     background: var(--indar-primary);
     border-radius:10px;
     height:3px;
     margin: 3px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   }
   
   
   span:nth-of-type(1){
     width:50%;
   }
   
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
    
   }
   
   
   .checkboxHamburguer{
     display:none;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(4px,0px)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(16px,-2px) rotatez(45deg);
   }

   /* NAVBAR MOBILE DESIGN -------------------------------------------------------------------------------------------------------------------- */

   .navbar-mobile{
       position: fixed;
       top: 0;
       left: 0;
       z-index: 1100;
       width: 100%;
       height: 100vh;
       background-color: var(--light-purple);
       display: block;
       transform: translateX(-100%);
       transition: all .6s ease-in-out;
       overflow-y: scroll;
       overflow-x: hidden;
   }

   .navbar-mobile.active{
       display: block !important;
       transform: translateX(0);
   }

    .container-navbar-mobile{
       margin-top: 70px;
    }

    .menu-item{
       cursor: pointer;
       border-bottom: 1px solid rgba(0, 0, 0, 0.2);
       width: 100%;
       padding: 15px;
    }

    .menu-item h5{
       display: inline;
       margin-left: 10px;

    }

   .submenu-icon{
       float: right;
       right: 0;
       margin-top: 7px;
       display: inline;
       margin-right: 10px;
       position: relative;
    }
   
   .rama-1{
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        padding: 5px;
        display: none;
    }

    .rama-1.active{
        display: block;
    }

    .rama-1 h5{
        margin-left: 40px;
        display: inline;
        font-size: 16px !important;
        color: rgb(77, 77, 77);
        font-weight: 500;
    }

    .rama-1:hover h5{
        color: black;
    }

    .rama-2{
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        padding: 5px;
        display: none;
    }

    .rama-2.active{
        display: block;
    }

    .rama-2 h5{
        margin-left: 80px;
        display: inline;
        font-size: 15px !important;
        color: rgb(77, 77, 77);
        font-weight: 500;
    }

    .rama-2:hover h5{
        color: black;
    }

    .rama-2 .submenu-icon{
        margin-top: 12px;
    }

    .rama-3{
        cursor: pointer;
        width: 100%;
        padding: 5px;
        display: none;
    }

    .rama-3.active{
        display: block;
    }

    .rama-3 h5{
        margin-left: 110px;
        display: inline;
        font-size: 14px !important;
        color: rgb(77, 77, 77);
        font-weight: 500;
    }

    .rama-3:hover h5{
        color: black;
    }


/* HERO ---------------------------------------------------------------------------------------------------------------------------------------- */

.body-content{
    margin-top: 140px !important;
}

.hero, .slider{
    width: 100%; 
    height: auto;
    z-index: -1;
    cursor: pointer;
}

.carousel-item img{
    width: 100%;
    height: auto;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    transform: scale(1.3);
    transition: all 1s ease !important;
}

.carousel-item{
    transition: opacity .3s ease !important;
    -webkit-transition: opacity .3s ease !important;
}

.carousel-item::after{
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:black;
    opacity: 1;
    transition: opacity .3s ease !important;
    -webkit-transition: opacity .3s ease !important;
}


.carousel-item.active::after{
    opacity: 0 !important;
}

.carousel-item.active img{
    transform: scale(1) !important;
}

.carousel-item-start::after{
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:black;
    opacity: 1;
    transition: opacity .5s ease !important;
    -webkit-transition: opacity .3s ease !important;
}


.left{
    float: left;
}
.right{
    float: right;
}

.white{
    position: absolute;
    top: 0;
	left: 0;
    background-color: rgba(255, 255, 255, 0.042);
    width: 60%;
    height: 100%;
    -webkit-clip-path: polygon(80% 0, 100% 100%, 100% 100%, 100% 100%, 70% 0);
    z-index: -1;
    backdrop-filter: blur(5px);
}

.carousel-inner{
    min-width: 100% !important;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon{
    height: 30px !important;
}

/* PRODUCT CATEGORIES -------------------------------------------------------------------------------------------------------------------- */


@keyframes shine-avatar {
    0% {
      background-position: -32px;
    }
    40%, 100% {
      background-position: 208px;
    }
  }

/* OFERTA RELAMPAGO ------------------------------------------------------------------------------------------------------------------------ */

.a-yellow{
    color: var(--indar-secondary); 
    font-weight: 500; 
    font-size: 18px; 
    text-decoration: none;
    text-align: center;
}

.a-yellow:hover{
    color: rgb(255, 227, 142); 
}

.zoom{
    position: relative;
	overflow: hidden !important;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.zoom img{
    max-width: 100%;
    width: 100%;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.zoom:hover img {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}


/* NEW PRODUCTS ---------------------------------------------------------------------------------------------------------------------------- */
button{
    cursor: pointer !important;
}
.new-products{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: white;
}

.new-products-title{
    width: 100%;
    border-bottom: 5px solid var(--indar-secondary);
    padding: 10px;
}

.new-products-title h3{
    color: var(--indar-primary) !important;
    font-weight: 700;
}

.controls{
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}


/* RELÁMPAGO ----------------------------------------------------------------------------------------------------------------------------------- */


  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
 
  
  ul#countdown {
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    width: 100%;
    padding: 15px 0 20px 0;
    color: #000;
    border-width: 1px 0;
    overflow: hidden;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: bold;

  }
  ul#countdown li {
    margin: 0 -3px 0 0;
    padding: 0;
    display: inline-block;
    width: 33%;
    font-size: 3vw;
    text-align: center;
  }


  ul#countdown li .label {
    color: #adafb2;
    font-size: .8vw;
    text-transform: uppercase;
  }

/* OUTLET PRODUCTS ---------------------------------------------------------------------------------------------------------------------------- */
.outlet-products{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: white;
}

.outlet-products-title{
    width: 90%;
    margin-left: 5%;
    border-bottom: 5px solid var(--indar-secondary);
    padding: 10px;
}

.outlet-products-title h3{
    color: var(--indar-primary) !important;
    margin-left: 100px;
    font-weight: 700;
}

.show-more{
    font-size: 18px !important;
    font-weight: 500 !important;
    float: right !important;
    margin-top: 5px;
    text-decoration: none !important; 
    color: var(--indar-primary) !important;
    cursor: pointer;
}

/* CAROUSEL ----------------------------------------------------------------- */


 
.swiper {
    width: 90%;
    left: 0% auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.swiper-2 {
    max-width: 90% !important;
    left: 0% auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.swiper-slide-products{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    overflow: hidden !important;
    cursor: pointer;
}

.swiper-slide-products img{
    object-fit: cover !important;
    max-width: 100%;
    max-height: 150px;
}

.swiper-slide-products h5{
    color:  var(--indar-primary);
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center !important;
}


.swiper-pagination-bullet{
    background-color: transparent !important;
    border: 1px solid #555555 !important;
    width: 10px !important;
    height: 10px !important;
}

.swiper-pagination-bullet-active{
    background-color: #555555 !important;
}

.swiper-button-indar{
    background-color: var(--indar-primary);
    color: white !important;
    font-size: 10px !important;
    height: 60% !important;
    font-size: 100px !important;
    padding: 1% !important;
    border-radius: 10px !important;
}

.swiper-button-indar::after{
    font-size: 20px !important;
}

.swiper-buttons-indar-left{
    margin-left: 10% !important;
}



.swiper-buttons-indar-right{
    margin-right: 10% !important;
}

.original-price{
    color: #d3d3d3 !important;
    font-weight: 300 !important;
    text-decoration: line-through;
    text-align: center !important;
}

.price{
    color: #555555 !important;
    text-align: center !important;
}

/* common */
.ribbon {
    width: 140px;
    height: 200px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    font: 750 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }

  .ribbon-oferta span{
    background-color: var(--indar-secondary);
    color: var(--indar-primary);
  }

  .ribbon-outlet span{
      background-color: #FF3E49;
      color: white;
  }

  /* top left*/
  .ribbon-top-left {
    top: -5px;
    left: -10px;
  }
 
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
  

/* SUPPLIERS -------------------------------------------------------------------------------------------------- */
.suppliers{
    width: 100%;
    height: auto;
    background-color: var(--indar-primary);
    margin-top: 30px;
    margin-bottom: 30px;
}

.swiper-suppliers{
    width: 100% !important;
    height: auto !important;
    background-color: var(--indar-primary) !important;
    margin-top: 30px !important;
    margin-bottom: 0 !important;
}

.swiper-slide-suppliers{
    position: relative !important;
    height: 80px !important;
    padding: 10px !important;
    background-color: var(--indar-primary) !important;
    display: flex !important; 
    justify-content: center !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    align-items: center !important;
    overflow: hidden !important;
}

.swiper-slide-suppliers img{
    width: auto !important;
    max-width: 80% !important;
    margin-left: 5% !important;
    filter: brightness(0) invert(1) !important;
    max-height: 70px !important;
}

.swiper-wrapper-suppliers{
    height: 80px !important;
}

.supplier-logo{
    color: white !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px !important;
    overflow: hidden !important;
    height: 100px !important;
}

.supplier-logos{
    height: 100px !important;
}

.supplier-logo img{
    width: auto;
    max-width: 90%;
    margin-left: 5%;
    filter: brightness(0) invert(1);
    max-height: 70px;
}


/* FOOTER -------------------------------------------------------------------------------------------------- */

.footer{
    padding: 80px !important;
    background-color: var(--light-purple) !important;
    z-index: 500 !important;
}

.contact-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-media-icons{
    margin-top: 30px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    color: var(--indar-primary);
    margin-left: 20px !important;
}


.social-media-icons a{
    text-decoration: none;
    color: var(--indar-primary);
}

.social-media-icons i{
    margin-left: 5px;
}
.footer-links{
    width: 100%;
}

.footer-links h4{
    font-size: 15px !important;
    color: black;
    margin-left: 50px;
    font-weight: 500;
}
.footer-links h5{
    color: #555555;
    width: 80%;
    padding: 2px;
    cursor: pointer;
    font-size: 15px !important;
    font-weight: 500;
    margin-left: 46px;
}
.footer-links h5:hover{
    color: black;
}


.copyright{
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: var(--light-purple);
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.192);
}

.copyright h5{
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    font-weight: 500;
}

.black-strong{
    color: black !important;
    font-weight: 600;
}


/* MODAL */

.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -10000;
    transition: opacity .4s ease;
}

.modal-indar{
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 50% !important;
}

.modal-header{
    background-color: var(--indar-primary) !important;
    color: white !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.modal-body{
    padding: 50px !important;
    width: 100% !important;
    background-color: white;
    height: 100%;
}

.modal-inputs{
    display: flex !important;
    align-items: center;
    flex-direction: row;
}

.modal-body label{
    color: #555555;
    font-size: 18px;
    
}

.modal-body input{
    width: 100%;
    float: right;
    height: 40px;
    margin-left: auto;
    background-color: var(--light-purple);
    border-radius: 10px;
    border:none;
    text-indent: 10px;
}

.remember-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--indar-primary) !important;
    font-weight: 500;
}

.checkbox{
    width: 15px !important;
    height: 15px !important;
    margin-right: 10px;
    margin-top: 3px;
    cursor: pointer;
}

.login-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-btn{
    width: 40%;
    background-color: var(--indar-secondary) !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    transition: all .5s ease;
    cursor: pointer;
}

.login-btn:hover{
    background-color: var(--indar-primary) !important;
}

.login-buttons a{
    text-decoration: none;
    color: #878787;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

.hr-indar{
    border: 2px solid var(--indar-primary) !important;
    border-color: var(--indar-primary) !important;
    background-color: var(--indar-primary) !important;
    color: var(--indar-primary) !important;
}


.modal-body a{
    text-decoration: none;
    font-size: 18px;
    color: var(--indar-primary);
}

/* DISCONTINUED ---------------------------------------------------------------------------------------------- */
.yellow-bar{
    background-color: var(--indar-secondary);
    width: 100%;
    min-height: 150px;
    height: auto;
}

.yellow-bar-content{
    color: var(--indar-primary);
    border-bottom: 5px solid var(--indar-primary);
    display: flex;
    flex-direction: row;
}

.yellow-bar-content h4{
    margin-left: 50px;
    margin-top: 10px;
}

.product-card{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    overflow: hidden !important;
    height: auto !important;
    margin-left: 10px;
    margin-top: 10px !important;
}

.product-card img{
    object-fit: cover !important;
    max-width: 100%;
    max-height: 100px;
}

.product-card h5{
    color:  var(--indar-primary);
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center !important;
}

.ribbon-discontinued span {
    padding: 2px 0 !important;
    font: 750 12px/1 'Lato', sans-serif;
}

.ribbon-discontinued{
    top: -12px !important;
    left: -25px !important;
}

.gray-background{
    background-color: var(--light-purple);
}


/* RESPONSIVE ------------------------------------------------------------------------------------------------- */

@media(max-width:1370px){
    .oferta-flag{
        margin-left: -150px !important;
    }
}

@media(max-width:1250px){
    .logo-footer{
        width: 300px !important;
    }
}




@media (max-width: 991px) {

    .footer-links{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px !important;
    }

    .footer-links h5{
        width: 100%;
    }

    .ferreimpulsos-hero{
        margin-top: 10px !important;
        margin-left: 10px !important;
    }

    .logo{
        margin-top: 15px !important;
    }

    .group-buscador{
        width: 90% !important;
        margin-left: 5% !important;
    }

    .hamburguer{
        opacity: 1 !important;
    }

}

@media(max-width:930px){
    .modal-indar{
        width: 90%;
        height: auto;
        background-color: white;
        border-radius: 50% !important;
    }

    .login-btn{
        width: 80%;
    }
    
}



@media (max-width: 767px) {
    .input-discontinued{
        width: 100% !important;
    }
    .bienvenido-hero, .ferreimpulsos-hero{
        margin-left: 3% !important;
        width: 94% !important;
        margin-top: 20px !important;
    }
}

@media (max-width: 700px) {
    .new-products-title h3{
        margin-left: 0 !important;
    }
    .outlet-products-title h3{
        margin-left: 0 !important;
    }
}



@media (max-width: 991px) {
    .iconos-cuenta{
        display: none !important;
    }
    .navbar{
        display: none !important;
    }
    .login-options{
        display: none !important;
    }
    .brand-logo{
        top: 0 !important;
    }
    .container-hero{
        padding-top: 0 !important;
    }
}


@media (max-width: 455px) {
    .new-products-title h3{
        font-size: 20px;
    }
    .outlet-products-title h3{
        font-size: 20px;
    }
    .show-more{
        font-size: 15px !important;
    }

}


/* SLIDER RESPONSIVE */



@media (max-width: 375px) and (orientation:portrait) /*IPHONE PORTRAIT*/ {
    .oferta-flag{
        margin-left: -170px !important;
    }
}

@media (max-width: 360px) and (orientation:portrait) /*IPHONE PORTRAIT*/ {
    .oferta-flag{
        margin-left: -170px !important;
    }
}


@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: fixed !important;
        margin-left: 317px;
	}
    .nav-item .submenu-2{ 
		display: none;
		position: fixed !important;
        margin-left: 616px;
	}
    .navbar-nav .dropdown-menu{
        display: none;
        position: absolute;
        left: 50px;
    }

    .navbar-nav > li:hover > .dropdown-menu {display: block;}
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	

@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	