@charset "UTF-8";

body, html{
    background-color: var(--light-purple);
}

.quantity-counter, .quantity{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.quantity-counter{
    width: 150px;
    border: 1px solid black; 
    height: 50px;
    margin-left: 20px;
    justify-content: space-between !important;
    padding: 15px;
}

.quantity-counter h1{
    cursor: pointer;
}

/* ZOOM */

.containerImgProduct {
    width: 100%;
    height: 100vh;
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.76);
    backdrop-filter: blur(5px);
    transition: all ease .4s;
  }
  
  .containerImgProduct h4 {
    color: white;
    text-align: center;
  }
  
  .magnify {
    height: auto;
    width: auto;
    max-width: 90%;
    position: relative;
  }

  .smallImageProduct{
    width: 40px;
    height: 40px;
    object-fit: cover;
    float: right;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.165);
    margin-right: 20px;
} 
  
  .large {
    width: 200px;
    height: 200px;
    position: absolute;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85),
      0 0 1px 1px rgba(0, 0, 0, 0.25),
      inset 0 0 1px 1px rgba(0, 0, 0, 0.063);
    display: none;
  }
  
  .small {
    display: block;
  }
  
  .bigImageProduct {
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.165);
    width: auto;
    height: 50vh;
  }

/* TEXTO DETALLE PRODUCTO */

.detalleProductoBlack{
    font-weight: 700 !important;
}

.detalleProductoTiny{
    font-size: 11px;
    display: inline-block;
    vertical-align: middle !important;
    font-weight: 400 !important;
}

.detalleProductoGray{
    color: rgb(183, 183, 183);
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* BADGE SUGGEST */

.badgeSuggest{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 5px;
}

.suggestIcon{
    width: 20px;
    height: auto;
    display: inline-block;
}

.badgeSuggest h5{
    font-size: 10px !important;
    display: inline-block;
}

