body, html{
    background-color: #F5F8F8;
}

.quantity-counter, .quantity{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.quantity-counter{
    width: 150px;
    border: 1px solid black; 
    height: 50px;
    margin-left: 20px;
    justify-content: space-between !important;
    padding: 15px;
}

.quantity-counter h1{
    cursor: pointer;
}


.smallImageProduct{
    width: 80px;
    height: 80px;
    object-fit: cover;
    float: right;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.165);
    margin-right: 20px;
} 

.bigImageProduct{
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.165);
    width: 90%;
    margin-left: 5%;
    height: 500px;
}

.magnify {width: 480px; position: relative;}

.large {
	width: 300px; height: 300px;
	position: absolute;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85), 
	0 0 1px 1px rgba(0, 0, 0, 0.25), 
	inset 0 0 1px 1px rgba(0, 0, 0, 0.063);
	background: url('https://www.officedepot.com.mx/medias/83878.jpg-1200ftw?context=bWFzdGVyfHJvb3R8MzcyMzkyfGltYWdlL2pwZWd8aGExL2g4OS85NjM5OTUzMzM0MzAyLmpwZ3xiYmE5NGEzMjg4MmNkNjQ5ZjI3MzY1Mjc1MDhmYzI0MTFjMzY0ODlmMDZjYmQ0N2VjYWNlZDVjNmZjNjRkMzAw') no-repeat;
	display: none;
}

.small { display: block; }


