.container, .container-fluid{
    max-width: 1600px !important;
}

:root{
    --indar-primary: #002868;
    --indar-primary-rgb: rgb(0,40,140);
    /* --indar-primary: black; */
    --indar-secondary: #FBC621;
    --light-purple: #F5F8F8;
    --indar-primary-light-thin: #0057e332;
    --indar-primary-light: #0057e35e;
    --indar-secondary-light: #ffebae;


    --text-primary: white;
    --text-secondary: black;
    --text-indar-primary-light-thin: #2c70de;

    --promo-tags-background: #5C6BC0;

    --input-background: #F2F2F2;

    --star-size: 20px;
    --star-color: rgb(201, 201, 201);
    --star-background: #266ee2;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
    border: none;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--indar-primary);
    border-radius: 10px; 
}


.bg-indarPrimary{
    background-color: var(--indar-primary) !important;
}


.btn-indar{
    background-color: var(--indar-primary) !important;
    color: var(--text-primary) !important;
}

.btn-indar:hover{
    filter: brightness(140%);
}

/* COMMON ALL SECTIONS ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.section{
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: var(--light-purple);
}

.section-body{
    background-color: white;
}

.section-title{
    width: 90%;
    margin-left: 5%;
    border-bottom: 5px solid var(--indar-secondary);
    padding: 20px;
}

.section-title h3{
    color: var(--indar-primary) !important;
    margin-left: 100px;
    font-weight: 700;
}

.section-row{
    padding-left: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

@media (max-width: 700px) {
    .section-title h3{
        margin-left: 0 !important;
    }
}

@media (max-width: 406px) {
    .section-title h3{
        font-size: 20px;
    }
}

/* FAQ ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.question{
    font-weight: 700;
}

.answer{
    font-weight: 400;
    color: #555555;
}

/* CATALOGO --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.col-catalogo h5{
    color: #555555;
    font-weight: 400;
    text-align: center;
}


.catalogo{
    width: 100%;
    height: 250px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.172);
}

.catalogo:hover{
    background-color: #e9e9e9;
}

.cat-blue{
    background-color: var(--indar-primary);
}

.cat-yellow{
    background-color: var(--indar-secondary);
}

.cat-gray{
    background-color: gray;
}
.cat-red{
    background-color: red;
}
.cat-green{
    background-color: green;
}
.cat-orange{
    background-color: orange;
}


/* ABOUT ----------------------------------------------------------------------------------------------------- */

.gray-h5{
    color: #555555;
    font-weight: 400;
}

/* SUCURSALES ------------------------------------------------------------------------------------------------- */

.sucursal-info{
    padding-left: 5%;
    border: 3px solid rgba(0, 0, 0, 0.02);
    max-width: 90%;
    overflow-x: hidden;
    min-height: 250px;
}

.sucursal-info h5{
    font-size: 18px !important;
    color: var(--indar-primary) !important;
}

.sucursal-info h4{
    font-size: 15px !important;
    color: #555555 !important;
    font-weight: 400;
}

.sucursal-info h4 strong{
    font-size: 13px;
}

/* SERVICIO POSTVENTA ------------------------------------------------------------------------------------------ */

.blue-h5, .blue-indar{
    color: var(--indar-primary);
}

.dropdown-menu li{
    cursor: pointer !important;
}

/* CONTACTO ------------------------------------------------------------------------------------------------------ */



