/* COMMON ALL SECTIONS ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.section{
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #F5F8F8;
}

.section-body{
    background-color: white;
}

.section-title{
    width: 90%;
    margin-left: 5%;
    border-bottom: 5px solid #FFC61E;
    padding: 20px;
}

.section-title h3{
    color: #002868 !important;
    margin-left: 100px;
    font-weight: 700;
}

.section-row{
    padding-left: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

@media (max-width: 700px) {
    .section-title h3{
        margin-left: 0 !important;
    }
}

@media (max-width: 406px) {
    .section-title h3{
        font-size: 20px;
    }
}

/* FAQ ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.question{
    font-weight: 700;
}

.answer{
    font-weight: 400;
    color: #555555;
}

/* CATALOGO --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.col-catalogo h5{
    color: #555555;
    font-weight: 400;
    text-align: center;
}


.catalogo{
    width: 100%;
    height: 250px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.172);
}

.catalogo:hover{
    background-color: #e9e9e9;
}

.cat-blue{
    background-color: #002868;
}

.cat-yellow{
    background-color: #FFC61E;
}

.cat-gray{
    background-color: gray;
}
.cat-red{
    background-color: red;
}
.cat-green{
    background-color: green;
}
.cat-orange{
    background-color: orange;
}


/* ABOUT ----------------------------------------------------------------------------------------------------- */

.gray-h5{
    color: #555555;
    font-weight: 400;
}

/* SUCURSALES ------------------------------------------------------------------------------------------------- */

.sucursal-info{
    padding-left: 5%;
    border: 3px solid rgba(0, 0, 0, 0.02);
    max-width: 90%;
    overflow-x: hidden;
    min-height: 250px;
}

.sucursal-info h5{
    font-size: 18px !important;
    color: #002868 !important;
}

.sucursal-info h4{
    font-size: 15px !important;
    color: #555555 !important;
    font-weight: 400;
}

.sucursal-info h4 strong{
    font-size: 13px;
}

/* SERVICIO POSTVENTA ------------------------------------------------------------------------------------------ */

.blue-h5, .blue-indar{
    color: #002868;
}

.dropdown-menu li{
    cursor: pointer !important;
}

/* CONTACTO ------------------------------------------------------------------------------------------------------ */



