.buttons-collection{
    background-color: #002868!important;
}
.title-table{
    background-color: #002868!important; 
    color:white!important;
}
.EnTiempo{
    background-color: #00bd00;
    cursor: pointer;
}
.Atrasado{
    background-color: #db8606;
    cursor: pointer;
}
.Valorando{
    background-color: white;
    cursor: pointer;
}
.dt-button-collection > .dropdown-menu > .buttons-columnVisibility{
    background-color: #002868;
}
.dt-button-collection > .dropdown-menu{
    background-color: #002868;
}
.encabezado-table{
    font-size: small;
}
.btn-orange{
    background-color: #dc8a35!important;
    border-color: #dc8a35!important;
}
.close{
    color: white;
}
.close:hover{
    color: white;
}
.btn-plataform{
    background-color: #002868;
    color: white;
}
.btn-plataform:hover{
    background-color: #294a7e;
    color: white;
}
#agregarGuiaNumeroGuia,#agregarGuiaImporte{
    font-weight: bold;
}
.card-logistica{
    background-color: #002868;
    color: white;
    border-radius: 14px;
}
.btn-consultar-factura,.btn-consultar-gasto-fletera,.btn-excel{
    color: white;
}
#table-gasto-fleteras{
    table-layout: fixed;
}

#table-gasto-fleteras th,
#table-gasto-fleteras td {
    text-overflow: clip;
}
table.dataTable>tbody>tr.child ul.dtr-details>li {
    border-bottom: 0px solid #efefef!important;
    padding: 0px!important;
}
.card-title{
    text-transform: uppercase;
    font-weight: bolder;
}
#divrow::-webkit-scrollbar {
    width: 8px;
    margin-right: 5px;
}
#divrow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#divrow::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #002868, #002868);
}
body::-webkit-scrollbar {
    width: 8px;
    margin-right: 5px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #002868, #002868);
}
.bg-success{
    border-radius: 30px;
}
.btn-outline-primary {
    color: white!important;
}
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
    text-align: center;
}
/* thead{
    color: white;
    background-color: #002868;
} */
.info-box{
    min-height: 0px!important;
    padding: 0px!important;
    line-height: 0!important;
}
.info-box .info-box-number{
    margin-top: 0px!important;
}
.icon-green-guias {
    color: green;
}
.icon-orange-guias {
    color: orange;
}
.icon-red-guias {
    color: red;
}
.page-item.active .page-link{
    background-color: #002868!important;
    border-color: #002868!important;
}
