.dashboard-cards{
    border-radius: 15px !important;
    background-color: rgba(255, 255, 255, 0.871) !important;
    min-height: 150px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 10px !important;
    background-color: transparent !important;
    border: none !important;
}

::-webkit-scrollbar-thumb {
    background: #313761 !important;
    border-radius: 10px !important; 
}

.dashboard-cards h6{
    text-align: center; 
}

.icon-indar{
    color: white !important;
}

.icon-indar:hover{
    color: rgb(208, 208, 208) !important;
}

.card-link{
    text-decoration: none !important; 
    color: black;
}

.bg-indarPrimary{
    background-color: var(--indar-primary) !important;
    color: white !important;
}


.nav{
    overflow: hidden;
}

