.bg-indarBlue {
    background-color: #002868 !important;
    color: #fff !important;
}

.bg-indarYellow {
    background-color: #FFC61E !important;
    color: #000;
}

.icon-indar {
    color: white !important;
}

.icon-indar:hover {
    color: rgb(208, 208, 208) !important;
}

.text-indarBlue {
    color: #002868;
}

.bs-stepper-content hr {
    background: #FFC61E;
    height: 3px;
}

.input-group-prepend span {
    background: #002868;
    color: #fff;
}

.input-group-prepend label {
    background: #002868;
    color: #fff;
}

.hr-indarYellow {
    background-color: #FFC61E;
    height: 3px;
    width: 60%;
}

#headCash {
    display: none;
}

#bodyCash {
    display: none;
}

.imageModal {
    width: 100%;
}



/*SHOW INFO HELP*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}