
.bg-blue{
  background-color: #002868 !important;
  color: white !important;
  font-size: 15px;
  text-align: center;
}

img.img-item {
  width: 70px !important;
  border: 1px solid #002868 !important;
  cursor: pointer;
}

.bg-bo{
  background-color: #fcbf49 !important;
  color: black !important;
  font-size: 15px;
  text-align: center;
}

/* input{
  width: auto;
} */

.title{
  height: auto;
  width: 100%;
  padding: 0px 0px 0px 5px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

.title p{
  margin-top: 10px;
  font-size: 18px;
}

.content{
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 50px;
}

h5, label{
  font-size: 16px !important;
  font-weight: 500 !important;
}

input{
  width: 100%;
}

.rowPedido{
  margin-top: 30px;
}

.selectPedido, .inputPedido{
  width: 100% !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  border-radius: 2px;
  background-color: #F5F8F8;
  display: inline-block;
}

input[type="text"]:disabled{
  background-color: #F2F2F2;
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);   
  cursor: not-allowed; 
}

#categoryCte{
  color: #002868 !important;
}
/* -------------------------------------------------------------------------------------- TAGS INPUT PROMOCIONES ------------------------------------------------------------------------------------------------------------ */

.tags-input 
{
  list-style : none;   
  display:inline-block;
  padding:5px;
  height: auto !important;
  width: 100% !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  border-radius: 2px;
  background-color: #F5F8F8;
  min-height: 55px !important;
}

.tags-input li
{
  float:left;
}

.tags
{
  margin-top: 5px;
  background:#5C6BC0;
  color: white;
  padding:5px 20px 5px 8px;
  border-radius:3px;
  margin-right: 5px;
  position: relative;
}

.tags i
{
position: absolute; 
right:6px;
top:3px;
width: 8px;
height: 8px;
content:'';
cursor:pointer;
opacity: .7;
font-size:12px;
}

.tags i:hover
{
opacity: 1;
}

.tags-new input[type="text"]
{
border:0;
margin: 0;
padding: 0 0 0 3px;
font-size: 14px;
margin-top: 5px;
background:transparent;
}

.tags-new input[type="text"]:focus
{
  outline:none; 
}

.checkboxPedido{
display:inline-block !important;
width: auto !important;
border: 1px solid rgba(0, 0, 0, 0.1) !important;
border-radius: 2px;
background-color: #F5F8F8 !important;
}



/* CUERPO PEDIDO  */

/* ----------------------------------------------------------------------------------- TABLA CUERPO PEDIDO ---------------------------------------------------------------------------------- */
.cuerpoPedido{ 
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 10px 0 10px 0;
} 

.tablaPedido{
border: 1px solid rgba(0, 0, 0, 0.1) !important;
width: 100%;
min-width: 1200px;
overflow-x: scroll;
transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-webkit-transition: opacity .5s ease-in-out;
opacity: 1;
}

.tablaPedido tr{
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.customHeader{
background-color: #002868 !important;
color: white !important;
width: auto !important;
}



.tablaPedido th{
background-color: #002868;
color: white; 
padding: 2px;
text-align: center;
}

.fadeOut{
  opacity: 0;
}

.focusRow{
  background-color: #e6f595 !important;
}

.tablaPedido tr{
padding: 20px 0px 20px 0px !important;
background-color: #F5F8F8;
}

.tablaPedido td{
padding: 5px;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.text-inventario{
  font-size: 13px !important;
  font-weight: 400 !important;
  white-space: nowrap !important;
  text-align: center !important;
}

.text-promo{
  font-size: 13px !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.text-red{
  color: #F00 !important;
  font-weight: 700 !important;
}

.text-blue{
  color: #0579c6 !important;
  font-weight: 700 !important;
}

.detalles-item-right{
  float: right;
  text-align: right;
  white-space: nowrap !important;
}

.detalles-item{
  font-size: 13px !important;
  font-weight: 500 !important;
  min-width: 250px !important;
  white-space: nowrap !important;
  line-height: 5px !important;
}

.table-actions{
  width: 100%;
  text-align: center !important;
}

.detalles-green{
  color: #139966 !important;
}

.quantityBtn{
background-color: #E9ECEF;
border: 1px solid rgba(0, 0, 0, 0.1);
width: 25px;
height: 34px;
position: relative;
margin-top: -2px;
}

.input-cantidad{
background-color: #F2F2F2 !important;
text-align: center !important;
font-size: 14px !important;
font-weight: 500 !important;
height: 30px;
}

.select-descuento{
  background-color: #F2F2F2 !important;
  text-align: center !important;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 100% !important;
}

.input-descuento{
  background-color: #F2F2F2 !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: 30px !important;
}

.append-inventario{
  height: 30px !important;
}

#unidad, #existencia, #multiplo{
  font-weight: 500;
  font-size: 15px;
}

#descripcion{
  font-size: 14px;
  /* text-align: left !important; */
}

.tablaInventatio td{
  text-align: center !important;
}

.td-center{
text-align: center !important;
}

#categoria-linea{
color: #139966;
font-weight: 700;
}

#categoria-pedido{
color: #C82333;
font-weight: 700;
}

.fa-delete{
position: relative;
color: #C82333 !important;
padding: 5px !important;
margin-top: -20px !important;
cursor: pointer;
}

.fa-delete-gift{
  display: inline;
  color: #C82333 !important;
  padding: 5px !important;
  margin-top: -20px !important;
  cursor: pointer;
  }

.fa-gift{
  display: inline;
  color: #f3aa17 !important;
  padding: 5px !important;
  margin-top: -20px !important;
  cursor: pointer;
  }

.subpedido-desc td{
background-color: #FFC61E;
font-weight: 700;
}

thead input {
width: 100%;
}

/* --------------------------------------------------------------------------------- SUBREGLAS TABLE --------------------------------------------------------------- */

.textoSubreglas{
  text-align: center !important;
}

.icons-subreglas{
  cursor: pointer;
  margin-right: 20px !important;
  color: black !important;
}

.icons-subreglas:hover{
  color: rgb(63, 63, 63) !important;
}

.actions-subreglas{
  display: flex;
  justify-content: center;
  border: none !important;
}

/* ---------------------------------------------------------------------------------- LOADING ----------------------------------------------------------------- */

.loading{ 
width: 100%;
height: 100px;
background-color: #002868;
display: flex;
justify-content: center;
align-items: center;
color: white;
}

/* ------------------------------------------------------------------------------- DIV CARGAR POR CODIGO --------------------------------------------------------- */

fieldset.scheduler-border {
border: 1px groove #ddd !important;
padding: 0 1.4em 1.4em 1.4em !important;
margin: 0 0 1.5em 0 !important;
-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
margin-top: 30px !important;
}

legend.scheduler-border {
font-size: 1.2em !important;
font-weight: bold !important;
text-align: left !important;
width: auto;
padding: 0 10px;
border-bottom: none;
margin-top: -15px;
background-color: white;
color: black;
}

.btnCargarPorCodigo, .btnAgregarPorCodigo{
background-color: #002868;
color: white;
text-align: center;
width: 100%;
padding: 10px;
border-radius: 5px;
border: 1px solid black;
transition: all .1s ease;
}

.btnAgregarPorCodigo:hover, .btnCargarPorCodigo:hover{
background-color: #011a42;
color: white !important;
}

.btn-group-buttons{
background-color: #002868 !important;
color: white !important;
border-color: #007bff !important;
}

.btn-group-buttons:hover{
background-color: #011d49 !important;
color: white !important;
}


.tableCargarPorCodigo{
display: none;
}


/* ------------------------------------------------------------------------------- MODAL IMAGEN AMPLIADA MD --------------------------------------------------------- */
.containerImgProduct{
  width:100%; 
  height: 100vh; 
  z-index: 100000; 
  position: fixed; 
  top:0; 
  left:0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.76);
  backdrop-filter: blur(5px);
  transition: all ease .4s;
}

.magnify{
  height: auto;
  max-height: 90vh; 
  width: auto;
  max-width: 90%;
  position: relative;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.closeImgProductMDIcon{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: white !important;
  font-size: 20px !important;
}

.large {
	width: 200px; 
  height: 200px;
	position: absolute;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85), 
	0 0 1px 1px rgba(0, 0, 0, 0.25), 
	inset 0 0 1px 1px rgba(0, 0, 0, 0.063);
	display: none;
}

.small { display: block; }

.bigImageProduct{
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.165);
  width: auto;
  height: 50vh;
}


/* ------------------------------------------------------------------------------- TABLA MODAL CARGAR INVENTARIO --------------------------------------------------------- */




.modal .modal-content-inventario {
height: 95vh;
overflow-y: scroll;
border: 0;
border-radius: 5px;
padding: 20px;
width: 100% !important;
}

.modal-xl{
min-width: 95% !important;
}

table.dataTable td, table.dataTable tr {
font-size: 13px !important;
}

table.dataTable tr.dtrg-level-0 td {
font-size: 13px !important;
}

.btn-add-product{
color: #139966;
border-radius: 3px;
cursor: pointer;
}

.hidden{
  display: none !important;
}



